





<div class="foot">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Copyright © 2021 Robotics Club, Bennett University Noida</h5>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <a href="https://www.bennett.edu.in/"><img src="https://www.bennett.edu.in/wp-content/themes/twentysixteen/images/bennett-logo.png" alt="Bennett University"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Designed & Developed | Aditya Kumar Gupta</h5>
      </div>

    </div>

</div>
</div>


<script src="https://kit.fontawesome.com/14c951c111.js" crossorigin="anonymous"></script>
<!-- javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Ubuntu&display=swap" rel="stylesheet">
<script src="/app.js" charset="utf-8"></script>


  </body>
</html>
