<%- include('partials/header'); -%>




    <div class="form">
      <form class="" action="/admin/addEvent" method="post" enctype="multipart/form-data">
        <label for="image">Upload Main poster/photo of the event :</label>
        <input type="file" name="file" id="file" required><br>
        <button type="submit" class="btn btn-primary up" name="button">Upload Photo</button>
        <hr>
      </form>
    </div>



<%- include('partials/footer'); -%>
