<%- include('partials/header'); -%>



  <div class="container-fluid">
    <div class="row" style="margin-top:100px">

      <div class="col-lg-4 col-md-4 col-sm-12 product">
          <i class="fa fa-users fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/addMember"><button type="submit" class="btn btn-outline-dark btn-lg pro">Add member</button></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 product">
        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/addEvent"><button type="submit" class="btn btn-outline-dark btn-lg pro">Add event</button></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 product">
        <i class="fa fa-code-fork fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/addProject"><button type="submit" class="btn btn-outline-dark btn-lg pro">Add project</button></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 product">
          <i class="fa fa-user-alt-slash fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/editMember"><button type="submit" class="btn btn-outline-dark btn-lg pro">Delete member</button></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 product">
        <i class="fa fa-calendar-minus fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/editEvent"><button type="submit" class="btn btn-outline-dark btn-lg pro">Delete event</button></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 product">
        <i class="fa fa-folder-minus fa-3x" aria-hidden="true"></i><br><br>
          <a href="/admin/editProject"><button type="submit" class="btn btn-outline-dark btn-lg pro">Delete project</button></a>
      </div>

    </div>
  </div>






<%- include('partials/footer'); -%>
