<%- include('partials/header'); -%>

<div class="login">
  <div class="">
    <h3 style="margin-bottom: 100px">Cryptic Hunt Login</h3>
  </div>
  <form class="" action="/event/login" method="post">
    <input class="in" type="email" name="email" placeholder="University Email" required><br>
    <input class="in" type="password" name="password" placeholder="password"><br>
    <button class="lo btn btn-outline-dark" type="submit" name="login">Login</button>
  </form>
</div>



<%- include('partials/footer'); -%>
