<%- include('partials/header'); -%>

<div class="login">
  <div class="">
    <h3 style="margin-bottom: 100px">Cryptic Hunt Sign Up</h3>
  </div>
  <form class="" action="/event/signup" method="post">
    <input class="in" type="text" name="username" placeholder="username" autocomplete="off" required><br>
    <input class="in" type="password" name="password" placeholder="password"><br>
    <input class="in" type="email" name="mail" placeholder="University Email" required><br>
    <select name="college" id="cars" required>
      <option value="Bennett University">Bennett University</option>
      <option value="Others">Others</option>
    </select><br>
    <button class="lo btn btn-outline-dark" type="submit" name="login">Signup</button>
  </form>
</div>



<%- include('partials/footer'); -%>
