<%- include('partials/header'); -%>

<div class="login">
  <div class="">
    <h3 style="margin-bottom: 100px">Admin Login</h3>
  </div>
  <form class="" action="/login" method="post">
    <input class="in user" type="text" name="username" placeholder="username" autocomplete="off"><br>
    <input class="in pass" type="password" name="password" placeholder="password"><br>
    <button class="lo btn btn-outline-dark" type="submit" name="login">Login</button>
  </form>
</div>



<%- include('partials/footer'); -%>
